<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">

        <div class="col-md-4" (click)="onDetail(actor)">
            <img src="{{actor.imgURL}}" class="card-img" alt="Foto">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" (click)="onDetail(actor)">{{actor.name}}</h5>
                <p class="card-text">{{actor.lastname}}</p>
                <p class="card-text"><small class="text-muted">Age: {{actor.age}}</small></p>
            </div>

            <!-- <button type="button" class="btn btn-light">
                <img class="icon" src="../../assets/images/oscars.png" alt="edit icon" > Agregar
            </button> -->

            <button type="button" class="btn btn-light" (click)="onEdit(actor)">
                <img class="icon" src="../../assets/images/edit.png"  alt="edit icon"> Edit
            </button>

            <button type="button" class="btn btn-light" (click)="onDelete(actor)">
                <img class="icon" src="../../assets/images/delete.png" alt="delete icon" > Delete
            </button>

            <!-- <div class="card-footer">
                <button class="btn btn-primary">Agregar</button>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </div> -->

        </div>
    </div>
</div>

