button {
    /* background-color: #eee; */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    background-color: #cfd8dc;
}

button.delete {
    /* position: relative; */
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
}

button.edit {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
}

.icon {
    width: 20px;
    vertical-align: middle;
    padding: 1px;
}

/* .card-img{
    height: 175px;
    width: auto;
} */

.col-md-4{
    cursor: pointer;
}

.card-title{
    cursor: pointer;
}

